################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/TranslucentFlyouts/v16
/packages
/Build
/TFMain/Debug/VC-LTL5.tmp/10.0.10240.0/Win32
/TFMain/x64
/TFMain/x86/Debug
/TFMain/Release/VC-LTL5.tmp/10.0.10240.0/Win32
/TFMain/x86/Release
/.vs/TranslucentFlyouts
/ComboLBox.c
/.vs/TranslucentFlyouts2/v17
/.vs
/Cache
/TFModern/Backup
/TFModern/x64
/TFMain/Backup
